
body {background-color: lightcoral;
    font-family: "indie flower", roboto;
    
}
h1 {
    text-align: center;
}
img {
    width: 50%;
    height: auto;
    
}

#container {
    width: 100%;
    display: inline-block;
    clear: both;
}

#left{

}

#right{

}
#center{

}
.game {
   /* display: inline-block;*/
    width: 33%;
    text-align: center;
    padding:0px 30px;
    
}

.choices {
   text-align: center;
    margin-left: 10px;
    padding-right: 80px;
}

button {
    margin: 15px;
}

.player {
    float: left;
    ;
}

.computer {
    float: right;
    margin-right: 30px;
}

/*
.score-area {
    margin: 3px auto;
    width: 60%;
    font-size: 1.2rem;
    text-align: center;
}
*/
.score-area{
    float: centre;
    margin: 0 auto;
    width: 50px;
    border: white solid 5px;
}
.scores
   font-size: larger;
   margin-left: 25px;
   font-weight: bold;
  
}

#score {
    background-color: white;
    padding: .75px 8px;
}