
body {background-color: lightcoral;
    font-family: "indie flower", roboto;
    
}
h1 {
    text-align: center;
}
img {
    width: 50%;
    height: auto;
    
}

.game {
    display: inline-block;
    width: 30%;
    
    text-align: center;
    padding:0px 5px;
    
}

.choices {
    text-align: center;
    margin-left: 10px;
    padding-right: 80px;
}

button {
    margin: 15px;
}

.player {
    float: left;
  
}

.computer {
    float: right;
    
}


.score-area{
   display: inline-block;
    margin: 0 auto;
    width: 30%;
    height: auto;
    text-align: center;
}
.scores {
   font-size: larger;
   margin-left: 25px;
   font-weight: bold;
  padding-bottom: 40px;
}

#score {
    background-color: white;
    padding: .75px 8px;
    
}